<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* Evozon Base module configuration
*
* @package     Evozon_Base_etc
* @copyright   Copyright (c) Evozon Systems (http://www.evozon.com/)
* @author      Constantin Bejenaru <constantin.bejenaru@evozon.com>
*/
-->
<config>
    <modules>
        <Evozon_Base>
            <version>0.1.0</version>
        </Evozon_Base>
    </modules>
    <global>
        <models>
            <evozon_base>
                <class>Evozon_Base_Model</class>
            </evozon_base>
        </models>
    </global>
</config>
